<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/admin/adminLayout}">
<body>
<div layout:fragment="content">
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            상품 리스트
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                <tr>
                    <th>상품명</th>
                    <th>가격</th>
                    <th>재고(수량)</th>
                    <th>카테고리</th>
                    <th>이미지</th>
                    <th>설명</th>
                    <th>관리</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>상품명</th>
                    <th>가격</th>
                    <th>재고(수량)</th>
                    <th>카테고리</th>
                    <th>이미지</th>
                    <th>설명</th>
                    <th>관리</th>
                </tr>
                </tfoot>
                <tbody>
                <tr th:each="item : ${items}">
                    <td th:text="${item.getName()}"></td>
                    <td th:text="${item.getPrice()}"></td>
                    <td th:text="${item.getStockQuantity()}"></td>
                    <td th:text="${item.getCategory()?.name}"></td>
                    <td style="width: 20%;"><img th:src="|/images/${item.getFileName()}|" class="adm-content-img"></td>
                    <td th:text="${item.getDescription()}" style="word-break: break-all;"></td>
                    <td style="width: 10%;"><button type="button" id="modify-btn"
                                th:onclick="|location.href='@{/new-item?id={itemId}(itemId=${item.id})}'|"
                                class="btn btn-primary btn-sm">수정</button>
                        <button type="button" id="delete-item-btn"
                                class="btn btn-secondary btn-sm" th:onclick="|deleteItem([[${item.id}]])|">삭제</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        window.addEventListener('DOMContentLoaded', event => {
            // Simple-DataTables
            // https://github.com/fiduswriter/Simple-DataTables/wiki

            const datatablesSimple = document.getElementById('datatablesSimple');
            if (datatablesSimple) {
                var table = new simpleDatatables.DataTable(datatablesSimple, {
                    columns: [
                        {select: [0,1,2,3,6], cellClass: "cell-width-10"},
                        {select: [4,5], cellClass: "cell-width-25"}
                    ]
                });
            }
        });
    </script>
    <script src="/js/admin.item.js"></script>
</div>
</body>
</html>
