<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="showModal(paymentYn)">
    <div class="modal-body">
        <!-- SECTION -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-7">
                        <!-- Shiping Details -->
                        <div class="shiping-details">
                            <div class="section-title">
                                <h3 class="title">배송지</h3>
                                <input type="checkbox" id="shiping-address" style="margin-left: 10px;">
                                <label for="shiping-address">
                                    <span></span>
                                    내정보에서 배송지 가져오기
                                </label>
                            </div>
                            <!-- Billing Details -->
                            <div class="billing-details">
                                <div class="form-group">
                                    <h4 class="title">주문자 성명</h4>
                                    <input class="input" type="text" disabled
                                           name="name" placeholder="주문자" th:value="${userInfo.getName()}" id="name">
                                </div>
                                <div class="form-group">
                                    <h4 class="title">받는분 성명</h4>
                                    <input class="input" type="text"
                                           name="name" placeholder="받는분" id="receiver">
                                    <input class="input" type="hidden" th:value="${userInfo.getName()}"
                                           name="name" placeholder="이름" id="hiddenReceiver">
                                </div>
                                <div class="form-group">
                                    <h4 class="title">전화번호</h4>
                                    <input class="input" type="tel"
                                           name="tel" placeholder="Telephone" id="phone">
                                    <input class="input" type="hidden" th:value="${userInfo.getPhone()}"
                                           name="tel" placeholder="Telephone" id="hiddenPhone">
                                </div>
                                <div class="form-group">
                                    <h4 class="title">주소</h4>
                                    <input class="input" type="text"
                                           name="zipcode" placeholder="ZIP Code" id="zipcode" style="width: calc(100% - 95px);">
                                    <input class="input" type="hidden" th:value="${userInfo.getAddress()?.getZipcode()}"
                                           name="zipcode" placeholder="ZIP Code" id="hiddenZipcode" style="width: calc(100% - 95px);">
                                    <button th:onclick="|findAddr()|" type="button" class="btn btn-info"
                                            style="margin-left: 5px; margin-bottom: 5px; display: inline-block; width: 85px;">주소 찾기</button>
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text"
                                           name="street" placeholder="Street" id="streetAddr">
                                    <input class="input" type="hidden" th:value="${userInfo.getAddress()?.getStreetAddr()}"
                                           name="street" placeholder="Street" id="hiddenStreetAddr">
                                </div>
                                <div class="form-group">
                                    <input class="input" type="text"
                                           name="detail" placeholder="detail" id="detailAddr">
                                    <input class="input" type="hidden" th:value="${userInfo.getAddress()?.getDetailAddr()}"
                                           name="detail" placeholder="detail" id="hiddenDetailAddr">
                                </div>
                            </div>
                            <!-- /Billing Details -->
                            <!-- Order notes -->
                            <div class="order-notes">
                                <h4 class="title">배송 메시지</h4>
                                <textarea class="input" placeholder="Order Notes" id="orderNote"></textarea>
                            </div>
                            <!-- /Order notes -->
                            <input type="hidden" id="paymentYn" th:value="${paymentYn}">
                            <!-- Payment -->
                            <div th:if="${paymentYn == 'Y'}" style="margin-top: 10px;">
                                <div class="payment-method">
                                    <div class="input-radio">
                                        <input type="radio" name="payment_sub" id="payment-1" value="1">
                                        <label for="payment-1">
                                            <span></span>
                                            계좌이체
                                        </label>
                                        <div class="caption">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div>
                                    </div>
                                    <div class="input-radio">
                                        <input type="radio" name="payment_sub" id="payment-2" value="2">
                                        <label for="payment-2">
                                            <span></span>
                                            카드결제
                                        </label>
                                        <div class="caption">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div>
                                    </div>
                                    <div class="input-radio">
                                        <input type="radio" name="payment_sub" id="payment-3" value="3">
                                        <label for="payment-3">
                                            <span></span>
                                            Npay
                                        </label>
                                        <div class="caption">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-checkbox">
                                    <input type="checkbox" id="terms_sub">
                                    <label for="terms_sub">
                                        <span></span>
                                        <a href="#">이용약관</a>을 읽었으며 이에 동의합니다.
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /SECTION -->
    </div>
</th:block>