<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{adminLayout}">
<body>
<div layout:fragment="content">
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            상품 리스트
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                <tr>
                    <th>상품명</th>
                    <th>가격</th>
                    <th>재고(수량)</th>
                    <th>상세페이지</th>
                    <th>관리</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>상품명</th>
                    <th>가격</th>
                    <th>재고(수량)</th>
                    <th>상세페이지</th>
                    <th>관리</th>
                </tr>
                </tfoot>
                <tbody>
                <tr th:each="item : ${items}">
                    <td th:text="${item.getName()}"></td>
                    <td th:text="${item.getPrice()}"></td>
                    <td th:text="${item.getStockQuantity()}"></td>
                    <td></td>
                    <td><button type="button" id="modify-btn"
                                th:onclick="|location.href='@{/new-item?id={itemId}(itemId=${item.id})}'|"
                                class="btn btn-primary btn-sm">수정</button>
                        <button type="button" id="delete-item-btn"
                                class="btn btn-secondary btn-sm" th:onclick="|deleteItem([[${item.id}]])|">삭제</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
