<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{mainLayout}">
<body>
<div layout:fragment="content">
	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- shop -->
				<div class="col-md-4 col-xs-6" th:each="category : ${depth1}" th:if="${categoryStat?.count < 4}">
					<div class="shop">
						<div class="shop-img">
							<img src="/img/shop01.png" alt="" th:if="${categoryStat?.count == 1}">
							<img src="/img/shop04.png" alt="" th:if="${categoryStat?.count == 2}">
							<img src="/img/shop02.png" alt="" th:if="${categoryStat?.count == 3}">
						</div>
						<div class="shop-body">
							<h3 th:text="|${category.name} Collection|"><br>Collection</h3>
							<a th:onclick="|getStore(${category.id}, 1)|" class="cta-btn"
								style="cursor: pointer;">Shop now <i class="fa fa-arrow-circle-right"></i></a>
						</div>
					</div>
				</div>
				<!-- /shop -->

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

				<!-- section title -->
				<div class="col-md-12">
					<div class="section-title">
						<h3 class="title">New Products</h3>
						<div class="section-nav">
							<ul class="section-tab-nav tab-nav">
								<li th:each="category : ${categories}" th:classappend="${categoryStat?.first} ? 'active' : ''">
									<a data-toggle="tab" href="#tab1" th:text="${category?.getName()}"></a></li>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /section title -->

				<!-- Products tab & slick -->
				<div class="col-md-12">
					<div class="row">
						<div class="products-tabs">
							<!-- tab -->
							<div id="tab1" class="tab-pane active">
								<div class="products-slick" data-nav="#slick-nav-1">
									<!-- product -->
									<div class="product" th:each="item : ${items}">
										<div class="product-img">
											<img th:src="|/images/${item.getFileName()}|"/>
											<div class="product-label">
												<span class="sale" th:if="${item.getDiscount() != 1}" th:text="|${#numbers.formatInteger(item.getDiscount() * 100, 2)}%|"></span>
											</div>
										</div>
										<div class="product-body">
											<p class="product-category" th:text="${item.getCategory()?.getName()}"></p>
											<h3 class="product-name"><a th:href="|/items/${item.id}|" th:text="${item.name}"></a></h3>
											<h4 class="product-price" style="display: inline;" th:text="|￦${#numbers.formatDecimal(item.price * (1-item.getDiscount()), 0, 'DEFAULT', 0, 'DEFAULT')}|"></h4>
											<h4 style="display: inline-block;"><del class="product-old-price" th:text="|￦${#numbers.formatDecimal(item.price, 0, 'DEFAULT', 0, 'DEFAULT')}|"></del></h4>
											<p class="product-category" th:text="|(${item.stockQuantity})|"></p>
											<div class="product-rating">
												<i class="fa fa-star" th:if="${#numbers.formatInteger(item?.getAvgRating(), 1) != '0'}"
												   th:each="num : ${#numbers.sequence(1, item?.getAvgRating())}"></i>
												<i class="fa fa-star-o" th:if="${#numbers.formatInteger(item?.getAvgRating(), 1) != '5'}"
												   th:each="num : ${#numbers.sequence(item?.getAvgRating(), 4)}"></i>
											</div>
											<div class="product-btns">
												<button class="add-to-wishlist"
														th:onclick="|createWish(${item.id}, this)|"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
												<button class="add-to-compare"
														th:onclick="|alert('비교기능은 지원예정입니다.')|"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
												<button class="quick-view dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-eye"></i><span class="tooltipp">view option</span></button>
												<div class="product-dropdown product-options" th:value="${item.id}"></div>
											</div>
										</div>
										<div class="add-to-cart">
											<button class="add-to-cart-btn"
													th:onclick="|createCart(${item.id}, 1, this)|"><i class="fa fa-shopping-cart"></i> add to cart</button>
										</div>
									</div>
									<!-- /product -->
								</div>
								<div id="slick-nav-1" class="products-slick-nav"></div>
							</div>
							<!-- /tab -->
						</div>
					</div>
				</div>
				<!-- Products tab & slick -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- HOT DEAL SECTION -->
	<div id="hot-deal" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<div class="hot-deal">
						<ul class="hot-deal-countdown">
							<li>
								<div>
									<h3>02</h3>
									<span>Days</span>
								</div>
							</li>
							<li>
								<div>
									<h3>10</h3>
									<span>Hours</span>
								</div>
							</li>
							<li>
								<div>
									<h3>34</h3>
									<span>Mins</span>
								</div>
							</li>
							<li>
								<div>
									<h3>60</h3>
									<span>Secs</span>
								</div>
							</li>
						</ul>
						<h2 class="text-uppercase">hot deal this week</h2>
						<p>New Collection Up to 30% OFF</p>
						<a class="primary-btn cta-btn"
							style="cursor: pointer;" th:onclick="|getStore(0, 1, 'hotdeal')|">Shop now</a>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /HOT DEAL SECTION -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

				<!-- section title -->
				<div class="col-md-12">
					<div class="section-title">
						<h3 class="title">Top selling</h3>
						<div class="section-nav">
							<ul class="section-tab-nav tab-nav">
								<li th:each="category : ${categories}" th:classappend="${categoryStat.first} ? 'active' : ''">
									<a data-toggle="tab" href="#tab2" th:text="${category.getName()}"></a></li>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /section title -->

				<!-- Products tab & slick -->
				<div class="col-md-12">
					<div class="row">
						<div class="products-tabs">
							<!-- tab -->
							<div id="tab2" class="tab-pane fade in active">
								<div class="products-slick" data-nav="#slick-nav-2">
									<!-- product -->
									<div class="product" th:each="top : ${top5}">
										<div class="product-img">
											<img th:src="|/images/${top.getFileName()}|"/>
											<div class="product-label">
												<span class="sale" th:if="${top.getDiscount() != 1}" th:text="|${#numbers.formatInteger(top.getDiscount() * 100, 2)}%|"></span>
											</div>
										</div>
										<div class="product-body">
											<p class="product-category" th:text="${top.getCategory()?.getName()}"></p>
											<h3 class="product-name"><a th:href="|/items/${top.id}|" th:text="${top.name}"></a></h3>
											<h4 class="product-price" style="display: inline;" th:text="|￦${#numbers.formatDecimal(top.price * (1-top.getDiscount()), 0, 'DEFAULT', 0, 'DEFAULT')}|"></h4>
											<h4 style="display: inline-block;"><del class="product-old-price" th:text="|￦${#numbers.formatDecimal(top.price, 0, 'DEFAULT', 0, 'DEFAULT')}|"></del></h4>
											<p class="product-category" th:text="|(${top.stockQuantity})|"></p>
											<div class="product-rating">
												<i class="fa fa-star" th:if="${#numbers.formatInteger(top?.getAvgRating(), 1) != '0'}"
												   th:each="num : ${#numbers.sequence(1, top?.getAvgRating())}"></i>
												<i class="fa fa-star-o" th:if="${#numbers.formatInteger(top?.getAvgRating(), 1) != '5'}"
												   th:each="num : ${#numbers.sequence(top?.getAvgRating(), 4)}"></i>
											</div>
											<div class="product-btns">
												<button class="add-to-wishlist"
														th:onclick="|createWish(${top.id}, this)|"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
												<button class="add-to-compare"
														th:onclick="|alert('비교기능은 지원예정입니다.')|"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
												<button class="quick-view dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-eye"></i><span class="tooltipp">view option</span></button>
												<div class="product-dropdown product-options" th:value="${top.id}"></div>
											</div>
										</div>
										<div class="add-to-cart">
											<button class="add-to-cart-btn"
													th:onclick="|createCart(${top.id}, 1, this)|"><i class="fa fa-shopping-cart"></i> add to cart</button>
										</div>
									</div>
									<!-- /product -->
								</div>
								<div id="slick-nav-2" class="products-slick-nav"></div>
							</div>
							<!-- /tab -->
						</div>
					</div>
				</div>
				<!-- /Products tab & slick -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-4 col-xs-6">
					<div class="section-title">
						<h4 class="title">Top selling</h4>
						<div class="section-nav">
							<div id="slick-nav-3" class="products-slick-nav"></div>
						</div>
					</div>

					<div class="products-widget-slick" data-nav="#slick-nav-3">
						<div>
							<!-- product widget -->
							<div class="product-widget" th:each="top : ${top5}">
								<div class="product-img">
									<img th:src="|/images/${top.getFileName()}|"/>
								</div>
								<div class="product-body">
									<p class="product-category" th:text="|${top.getCategory()?.getName()} (${#numbers.formatDecimal(top.getAvgRating(), 1, 1)})|"></p>
									<h3 class="product-name"><a th:href="|/items/${top.id}|" th:text="${top.name}"></a></h3>
									<h4 class="product-price" style="display: inline;" th:text="|￦${#numbers.formatDecimal(top.price * (1-top.getDiscount()), 0, 'DEFAULT', 0, 'DEFAULT')}|"></h4>
									<h4 style="display: inline-block;"><del class="product-old-price" th:text="|￦${#numbers.formatDecimal(top.price, 0, 'DEFAULT', 0, 'DEFAULT')}|"></del></h4>
								</div>
							</div>
							<!-- /product widget -->
						</div>
					</div>
				</div>

				<div class="col-md-4 col-xs-6">
					<div class="section-title">
						<h4 class="title">Row Price</h4>
						<div class="section-nav">
							<div id="slick-nav-4" class="products-slick-nav"></div>
						</div>
					</div>

					<div class="products-widget-slick" data-nav="#slick-nav-4">
						<div>
							<!-- product widget -->
							<div class="product-widget" th:each="row : ${row5}">
								<div class="product-img">
									<img th:src="|/images/${row.getFileName()}|"/>
								</div>
								<div class="product-body">
									<p class="product-category" th:text="|${row.getCategory()?.getName()} (${#numbers.formatDecimal(row.getAvgRating(), 1, 1)})|"></p>
									<h3 class="product-name"><a th:href="|/items/${row.id}|" th:text="${row.name}"></a></h3>
									<h4 class="product-price" style="display: inline;" th:text="|￦${#numbers.formatDecimal(row.price * (1-row.getDiscount()), 0, 'DEFAULT', 0, 'DEFAULT')}|"></h4>
									<h4 style="display: inline-block;"><del class="product-old-price" th:text="|￦${#numbers.formatDecimal(row.price, 0, 'DEFAULT', 0, 'DEFAULT')}|"></del></h4>
								</div>
							</div>
							<!-- /product widget -->
						</div>
					</div>
				</div>

				<div class="clearfix visible-sm visible-xs"></div>

				<div class="col-md-4 col-xs-6">
					<div class="section-title">
						<h4 class="title">Top Rating</h4>
						<div class="section-nav">
							<div id="slick-nav-5" class="products-slick-nav"></div>
						</div>
					</div>

					<div class="products-widget-slick" data-nav="#slick-nav-5">
						<div>
							<!-- product widget -->
							<div class="product-widget" th:each="top : ${topRating5}">
								<div class="product-img">
									<img th:src="|/images/${top.getFileName()}|"/>
								</div>
								<div class="product-body">
									<p class="product-category" th:text="|${top.getCategory()?.getName()} (${#numbers.formatDecimal(top.getAvgRating(), 1, 1)})|"></p>
									<h3 class="product-name"><a th:href="|/items/${top.id}|" th:text="${top.name}"></a></h3>
									<h4 class="product-price" style="display: inline;" th:text="|￦${#numbers.formatDecimal(top.price * (1-top.getDiscount()), 0, 'DEFAULT', 0, 'DEFAULT')}|"></h4>
									<h4 style="display: inline-block;"><del class="product-old-price" th:text="|￦${#numbers.formatDecimal(top.price, 0, 'DEFAULT', 0, 'DEFAULT')}|"></del></h4>
								</div>
							</div>
							<!-- /product widget -->
						</div>
					</div>
				</div>

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->
	<script src="/js/time.js"></script>
</div>
</body>
</html>
