<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{mainLayout}">
<body>
<div layout:fragment="content">
	<!-- BREADCRUMB -->
	<div id="breadcrumb" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<h3 class="breadcrumb-header">장바구니</h3>
					<ul class="breadcrumb-tree">
						<li><a th:href="@{/main/home}">Home</a></li>
						<li class="active">Cart</li>
					</ul>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /BREADCRUMB -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row" th:if="${cartItems.size() == 0}">
				<div class="col-md-11 carts-details" style="padding: 0px;">
					<div class="section-title" style="text-align: center">
						<h3 class="title">장바구니에 상품이 없습니다.</h3>
					</div>
				</div>
			</div>
			<div class="row" th:if="${cartItems.size() > 0}">
				<div class="col-md-7 carts-details">
					<div class="section-title">
						<h3 class="title">내 장바구니 목록</h3>
					</div>
					<div class="carts-summary">
						<div class="carts-col">
							<div><input type="checkbox" onclick="selectCartAll(this)"></input></div>
							<div><strong>상품명</strong></div>
							<div><strong>이미지</strong></div>
							<div><strong>가격</strong></div>
							<div><strong>수량</strong></div>
							<div><strong>TOTAL</strong></div>
						</div>
						<div class="carts-col carts-content" th:each="cart : ${cartItems}">
							<div>
								<input type="checkbox" name="checkbox-id" th:checked="false" th:value="${cart.id}"></input>
							</div>
							<div><strong th:text="${cart.getItem().name}" th:onclick="|getProduct(${cart.getItem().id}, 1)|"
											style="cursor: pointer;"></strong></div>
							<div style="width: 150px;" class="tooltip-target">
								<img style="width: 100%;" th:src="|/images/${cart.getItem().fileName}|">
								<span class="custom-tooltip" th:text="${cart.getOptions()}" style="margin: -10px 0px 0px -40px;"></span>
							</div>
							<div th:text="${#numbers.formatDecimal(cart.getItem().price * (1 - cart.getItem().getDiscount()), 0, 'DEFAULT', 0, 'DEFAULT')}"></div>
							<div th:text="${cart.getQuantity()}"></div>
							<div><strong th:text="${#numbers.formatDecimal(cart.getItem().price * (1 - cart.getItem().getDiscount()) * cart.getQuantity(), 0, 'DEFAULT', 0, 'DEFAULT')}"></strong></div>
						</div>
					</div>
					<div style="text-align: right;">
						<a id="delete-cart-chk-btn" class="primary-btn order-submit"
					   		style="cursor: pointer;">선택 상품 삭제</a>
					</div>
				</div>

				<div class="col-md-1"></div>

				<!-- Order Details -->
				<div class="col-md-4 order-details">
					<div class="section-title text-center">
						<h3 class="title">Your Order</h3>
					</div>
					<div class="order-summary">
						<div class="order-col">
							<div><strong>PRODUCT</strong></div>
							<div><strong>TOTAL</strong></div>
						</div>
						<div class="order-products">
							<div class="order-col" th:each="cart : ${cartItems}">
								<div>
									<span th:text="|${cart.getQuantity()}x|"></span>
									<span th:text="${cart.getItem().name}"></span>
								</div>
								<div th:text="|￦${#numbers.formatDecimal(cart.getItem().price * (1 - cart.getItem().getDiscount()) * cart.getQuantity(), 0, 'DEFAULT', 0, 'DEFAULT')}|"></div>
							</div>
						</div>
						<div class="order-col">
							<div>배송비</div>
							<div><strong>FREE</strong></div>
						</div>
						<div class="order-col">
							<div><strong>TOTAL</strong></div>
							<div><strong class="order-total" th:text="|￦${#numbers.formatDecimal(totalPrice, 0, 'DEFAULT', 0, 'DEFAULT')}|"></strong></div>
						</div>
					</div>
					<div class="payment-method">
						<div class="input-radio">
							<input type="radio" name="payment" id="payment-1" value="1">
							<label for="payment-1">
								<span></span>
								계좌이체
							</label>
							<div class="caption">
								<p>계좌로 현금을 이체하는 방식입니다.</p>
							</div>
						</div>
						<div class="input-radio">
							<input type="radio" name="payment" id="payment-2" value="2">
							<label for="payment-2">
								<span></span>
								카드결제
							</label>
							<div class="caption">
								<p>카드번호와 패스워드로 결제하는 방식입니다.</p>
							</div>
						</div>
						<div class="input-radio">
							<input type="radio" name="payment" id="payment-3" value="3">
							<label for="payment-3">
								<span></span>
								Npay
							</label>
							<div class="caption">
								<p>보유하고 있는 NEVER PAY로 결제하는 방식입니다.</p>
							</div>
						</div>
					</div>
					<div class="input-checkbox">
						<input type="checkbox" id="terms">
						<label for="terms">
							<span></span>
							<a data-target="#termModal" data-toggle="modal">이용약관</a>을 읽었으며 이에 동의합니다.
						</label>
					</div>
					<a id="pre-order-btn" class="primary-btn order-submit"
					   data-target="#deliveryModal" style="cursor: pointer;">주문하기</a>
				</div>
				<!-- /Order Details -->
			</div>
			<!-- /row -->
		</div>
	</div>
	<!-- /SECTION -->
	<!-- Modal -->
	<div class="modal fade" id="deliveryModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-scrollable" style="width:50%;">
			<div class="modal-content">
				<div class="modal-body">
					<th:block th:replace="~{deliveryModal :: showModal(paymentYn='N')}"></th:block>
				</div>
				<div class="modal-footer">
					<a class="secondary-btn order-submit" data-dismiss="modal" style="cursor: pointer;">닫기</a>
					<a id="create-order-btn" class="primary-btn order-submit" style="cursor: pointer;">주문하기</a>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="termModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-body">
					<th:block th:replace="~{termModal :: showModal()}"></th:block>
				</div>
				<div class="modal-footer">
					<a class="secondary-btn order-submit" data-dismiss="modal" style="cursor: pointer;">닫기</a>
				</div>
			</div>
		</div>
	</div>
	<!--Modal-->
	<script src="/js/review.js"></script>
	<script>
		$(document).on('ready', function(event) {
			$('.dropdown').css("pointer-events", "none");
		});
	</script>
</div>
<!-- /container -->
</body>
</html>
