<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{adminLayout}">
<body>
<div layout:fragment="content">
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            <div class="adm-small-title" th:if="${aItem.id} == null">상품등록</div>
            <div class="adm-small-title" th:if="${aItem.id} != null">상품수정</div>
        </div>
        <div class="card-body">
            <!-- 아이디 정보 저장 -->
            <input type="hidden" id="item-id" th:value="${aItem.id}">

            <header class="mb-4">
                <input type="text" class="form-control" placeholder="상품명" id="name" th:value="${aItem.name}">
            </header>
            <section class="mb-4">
                <input type="number" class="form-control" placeholder="가격" id="price" th:value="${aItem.price}">
            </section>
            <section class="mb-4">
                <input type="number" class="form-control" placeholder="수량" id="stockQuantity" th:value="${aItem.stockQuantity}">
            </section>
            <!-- id가 있을 때는 [수정] 버튼을, 없을 때는 [등록] 버튼이 보이게 함 -->
            <button th:if="${aItem.id} == null" type="button" id="create-item-btn" class="btn btn-primary btn-sm">등록</button>
            <button th:if="${aItem.id} != null" type="button" id="modify-item-btn" class="btn btn-primary btn-sm">수정</button>
        </div>
    </div>
</div>
</body>
</html>
