<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{adminLayout}">
<body>
<div layout:fragment="content">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <article>
                    <!-- 아이디 정보 저장 -->
                    <input type="hidden" id="item-id" th:value="${aItem.id}">

                    <header class="mb-4">
                        <input type="text" class="form-control" placeholder="상품명" id="name" th:value="${aItem.name}">
                    </header>
                    <section class="mb-4">
                        <input type="number" class="form-control" placeholder="가격" id="price" th:value="${aItem.price}">
                    </section>
                    <section class="mb-4">
                        <input type="number" class="form-control" placeholder="수량" id="stockQuantity" th:value="${aItem.stockQuantity}">
                    </section>
                    <!-- id가 있을 때는 [수정] 버튼을, 없을 때는 [등록] 버튼이 보이게 함 -->
                    <button th:if="${aItem.id} == null" type="button" id="create-item-btn" class="btn btn-primary btn-sm">등록</button>
                </article>
            </div>
        </div>
    </div>
</div>
</body>
</html>
