<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{mainLayout}">
<body>
<div layout:fragment="content">
	<!-- BREADCRUMB -->
	<div id="breadcrumb" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<h3 class="breadcrumb-header">로그인</h3>
					<ul class="breadcrumb-tree">
						<li><a th:href="@{/main/home}">Home</a></li>
						<li class="active">LOGIN</li>
					</ul>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /BREADCRUMB -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- Login Details -->
				<div class="col-md-12 login-details">
					<div class="section-title text-center">
						<h3 class="title">LOGIN</h3>
					</div>
					<div class="login-summary">
						<div class="login-col">
							<div><strong>서비스 사용을 위해 로그인 해주세요!</strong></div>
						</div>
						<div class="login-col">
							<div>
								<a href="/oauth2/authorization/google">
									<img src="/img/google.png">
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- /Login Details -->
			</div>
			<!-- /row -->
		</div>
	</div>
	<!-- /SECTION -->
</div>
<!-- /container -->
</body>
</html>
