<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{mainLayout}">
<body>
<div layout:fragment="content">
    <div class="card mt-3">
        <div class="card-header">
            <i class="bi bi-cart4"></i><span class="p-2 fw-bold">내 주문내역</span>
        </div>
        <div class="card-body">
            <table class="table table-primary table-striped mb-0" th:each="item : ${orders}">
                <thead>
                    <tr></tr>
                    <tr>
                        <th scope="col" class="w-10">주문번호</th>
                        <th scope="col" class="w-30">배송지</th>
                        <th scope="col" class="w-20">주문시간</th>
                        <th scope="col" class="w-20">주문자</th>
                    </tr>
                </thead>
                <tbody >
                    <tr>
                        <th scope="row" th:text="${item.getId()}"></th>
                        <td th:text="${item.getDelivery().getAddress()}"></td>
                        <td th:text="${#temporals.format(item.getOrderDate(), 'yyyy년 MM월 dd일 HH시mm분')}"></td>
                        <td th:text="${item.getUser().getNickname()}"></td>
                    </tr>
                    <tr>
                        <table class="table table-info mb-2">
                            <thead>
                            <tr>
                                <th scope="col" class="w-10">상품번호</th>
                                <th scope="col" class="w-40">상품이미지</th>
                                <th scope="col" class="w-30">상품수량</th>
                                <th scope="col" class="w-30">상품총가격</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="orders : ${item.orderItems}">
                                <th scope="row" th:text="${orders.item.id}"></th>
                                <td class="col-md-2 order-row">
                                    <img class="order-img" th:src="|/images/${orders.item.fileName}|"/>
                                </td>
                                <td th:text="${orders.count}"></td>
                                <td th:text="${#numbers.formatDecimal(orders.orderPrice, 0, 'DEFAULT', 0, 'DEFAULT')}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
