<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{mainLayout}">
<body>
<div layout:fragment="content">
	<!-- BREADCRUMB -->
	<div id="breadcrumb" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<ul class="breadcrumb-tree">
						<li><a th:href="@{/main/home}">Home</a></li>
						<li th:if="${parents != null}" th:each="i : ${#numbers.sequence(parents.size()-1, 0, -1)}" th:with="category=${parents[i]}">
							<a th:onclick="|getStore(${category.getId()}, 1)|" th:text="${category.getName()}"
							   th:classappend="${'2'.equals(category.getDepth())} ? 'nolink' : ''"></a>
						</li>
						<li class="active" th:text="${product?.getName()}"></li>
					</ul>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /BREADCRUMB -->

	<!-- SECTION -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- Product main img -->
				<div class="col-md-5 col-md-push-2">
					<div id="product-main-img">
						<div class="product-preview">
							<img style="width: 100%;" th:src="|/images/${product.getFileName()}|"/>
						</div>
					</div>
				</div>
				<!-- /Product main img -->

				<!-- Product thumb imgs -->
				<div class="col-md-2  col-md-pull-5">
					<div id="product-imgs">
						<div class="product-preview">
							<img src="/img/product01.png" alt="">
						</div>

						<div class="product-preview">
							<img src="/img/product03.png" alt="">
						</div>

						<div class="product-preview">
							<img src="/img/product06.png" alt="">
						</div>

						<div class="product-preview">
							<img src="/img/product08.png" alt="">
						</div>
					</div>
				</div>
				<!-- /Product thumb imgs -->

				<!-- Product details -->
				<div class="col-md-5">
					<div class="product-details">
						<h2 class="product-name" th:text="${product.name}"></h2>
						<div>
							<div class="product-rating">
								<i class="fa fa-star" th:if="${#numbers.formatInteger(ratings?.getAvg(), 1) != '0'}"
								   th:each="num : ${#numbers.sequence(1, ratings.getAvg())}"></i>
								<i class="fa fa-star-o" th:if="${#numbers.formatInteger(ratings?.getAvg(), 1) != '5'}"
								   th:each="num : ${#numbers.sequence(ratings?.getAvg(), 4)}"></i>
							</div>
							<a class="review-link" onclick="tabClick(3);"
							th:text="|${reviewOrigin?.size()} Review(s) : Add your review|"></a>
						</div>
						<div>
							<h3 class="product-price" style="display: inline;" th:text="|￦${#numbers.formatDecimal(product.price * (1-product.getDiscount()), 0, 'DEFAULT', 0, 'DEFAULT')}|"></h3>
							<span style="display: inline-block;"><del class="product-old-price" th:text="|￦${#numbers.formatDecimal(product.price, 0, 'DEFAULT', 0, 'DEFAULT')}|"></del></span>
							<span class="product-available" th:if="${product.stockQuantity} > 0" th:text="|In Stock (${product.stockQuantity})|"></span>
							<span class="product-available" th:if="${product.stockQuantity} == 0">Sold Out</span>
						</div>
						<p th:text="${product.getDescription()}"></p>

						<div class="product-options">
							<label th:each="option : ${product.getOptions()}">
								<span th:text="${option.getName()}"></span>
								<select class="input-select" style="padding-left: 5px;">
									<option th:each="val : ${#strings.arraySplit(option.getValue(), ',')}"
										th:value="${val}" th:text="${val}"></option>
								</select>
							</label>
						</div>

						<div class="add-to-cart">
							<div class="qty-label">
								Qty
								<div class="input-number">
									<input type="text" th:value="1">
									<span class="qty-up">+</span>
									<span class="qty-down">-</span>
									<input type="hidden" th:value="${product.stockQuantity}" id="product-stock">
								</div>
							</div>
							<button class="add-to-cart-btn" th:onclick="|createCart(${product.id}, 1, this)|"><i class="fa fa-shopping-cart"></i> add to cart</button>
						</div>

						<ul class="product-btns">
							<li th:onclick="|createWish(${product.id}, this)|"><a style="cursor: pointer;">
								<i class="fa fa-heart-o"></i> add to wishlist</a>
							</li>
							<li><a href="#"><i class="fa fa-exchange"></i> add to compare</a></li>
						</ul>

						<ul class="product-links">
							<li>Category:</li>
							<li><a href="#" th:text="${product.category?.name}"></a></li>
						</ul>

						<ul class="product-links">
							<li>Share:</li>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-envelope"></i></a></li>
						</ul>

					</div>
				</div>
				<!-- /Product details -->

				<!-- Product tab -->
				<div class="col-md-12">
					<div id="product-tab">
						<!-- product tab nav -->
						<ul class="tab-nav" id=product-tab-nav>
							<li active th:value="1"><a data-toggle="tab" href="#tab1">Description</a></li>
							<li th:value="2"><a data-toggle="tab" href="#tab2">Details</a></li>
							<li th:value="3"><a data-toggle="tab" href="#tab3" th:text="|Reviews (${reviewOrigin?.size()})|"></a></li>
						</ul>
						<input type="hidden" th:value="${tabNumber}" id="tab_num">
						<!-- /product tab nav -->

						<!-- product tab content -->
						<div class="tab-content" id="tab-content">
							<!-- tab1  -->
							<div id="tab1" class="tab-pane fade in active">
								<div class="row">
									<div class="col-md-12">
										<p th:text="${product.getDescription()}"></p>
									</div>
								</div>
							</div>
							<!-- /tab1  -->

							<!-- tab2  -->
							<div id="tab2" class="tab-pane fade in">
								<div class="row">
									<div class="col-md-12">
										<img style="width: 100%;" th:src="|/images/${product.getDetailImgName()}|"/>
									</div>
								</div>
							</div>
							<!-- /tab2  -->

							<!-- tab3  -->
							<div id="tab3" class="tab-pane fade in">
								<div class="row">
									<!-- Rating -->
									<div class="col-md-3">
										<div id="rating">
											<div class="rating-avg">
												<span th:text="${#numbers.formatDecimal(ratings?.getAvg(), 1, 1)}"></span>
												<div class="rating-stars">
													<i class="fa fa-star" th:if="${#numbers.formatInteger(ratings?.getAvg(), 1) != '0'}"
													   th:each="num : ${#numbers.sequence(1, ratings.getAvg())}"></i>
													<i class="fa fa-star-o" th:if="${#numbers.formatInteger(ratings?.getAvg(), 1) != '5'}"
													   th:each="num : ${#numbers.sequence(ratings?.getAvg(), 4)}"></i>
												</div>
											</div>
											<ul class="rating">
												<li>
													<div class="rating-stars">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
													</div>
													<div class="rating-progress">
														<div style="width: 80%;"></div>
													</div>
													<span class="sum" th:text="${ratings?.getCnt5()}"></span>
												</li>
												<li>
													<div class="rating-stars">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</div>
													<div class="rating-progress">
														<div style="width: 60%;"></div>
													</div>
													<span class="sum" th:text="${ratings?.getCnt4()}"></span>
												</li>
												<li>
													<div class="rating-stars">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
														<i class="fa fa-star-o"></i>
													</div>
													<div class="rating-progress">
														<div></div>
													</div>
													<span class="sum" th:text="${ratings?.getCnt3()}"></span>
												</li>
												<li>
													<div class="rating-stars">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
														<i class="fa fa-star-o"></i>
														<i class="fa fa-star-o"></i>
													</div>
													<div class="rating-progress">
														<div></div>
													</div>
													<span class="sum" th:text="${ratings?.getCnt2()}"></span>
												</li>
												<li>
													<div class="rating-stars">
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
														<i class="fa fa-star-o"></i>
														<i class="fa fa-star-o"></i>
														<i class="fa fa-star-o"></i>
													</div>
													<div class="rating-progress">
														<div></div>
													</div>
													<span class="sum" th:text="${ratings?.getCnt1()}"></span>
												</li>
											</ul>
										</div>
									</div>
									<!-- /Rating -->

									<!-- Reviews -->
									<div class="col-md-6">
										<div id="reviews">
											<ul class="reviews">
												<li th:each="review : ${reviews}">
													<div class="review-heading">
														<h5 class="name" th:text="${review.getName()}"></h5>
														<p class="date" th:text="${#temporals.format(review.getCreatedAt(), 'yyyy-MM-dd HH:mm:ss')}"></p>
														<div class="review-rating">
															<i class="fa fa-star" th:each="num : ${#numbers.sequence(1, review.getRating())}"></i>
															<i class="fa fa-star-o empty"
															   th:if="${review.getRating() != 5}" th:each="num : ${#numbers.sequence(review.getRating(), 4)}"></i>
														</div>
													</div>
													<div class="review-body">
														<p th:text="${review.getContent()}"></p>
													</div>
												</li>
											</ul>
											<ul class="reviews-pagination">
												<li><a href="#"><i class="fa fa-angle-left"></i></a></li>
												<li th:each="page : ${#numbers.sequence(startPage, endPage)}"
													th:text="${page}"
													th:onclick="|getProduct(${product.id}, ${page})|"
													th:classappend="${page == currentPage} ? 'active' : ''"
													style="cursor: pointer;"></li>
												<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
											</ul>
										</div>
									</div>
									<!-- /Reviews -->

									<!-- Review Form -->
									<div class="col-md-3">
										<div id="review-form">
											<form class="review-form">
												<input class="input" type="text" placeholder="Your Name" id="review_name" th:value="${userInfo.getName()}">
												<input class="input" type="email" placeholder="Your Email" id="review_email" th:value="${userInfo.getEmail()}" readonly>
												<input class="input" type="hidden" id="review_item_id" th:value="${product.getId()}">
												<textarea class="input" placeholder="Your Review" id="review_content"></textarea>
												<div class="input-rating">
													<span>Your Rating: </span>
													<div class="stars">
														<input id="star5" name="rating" value="5" type="radio"><label for="star5"></label>
														<input id="star4" name="rating" value="4" type="radio"><label for="star4"></label>
														<input id="star3" name="rating" value="3" type="radio"><label for="star3"></label>
														<input id="star2" name="rating" value="2" type="radio"><label for="star2"></label>
														<input id="star1" name="rating" value="1" type="radio" checked="checked"><label for="star1"></label>
													</div>
												</div>
												<button class="primary-btn" id="create-review-btn">Submit</button>
											</form>
										</div>
									</div>
									<!-- /Review Form -->
								</div>
							</div>
							<!-- /tab3  -->
						</div>
						<!-- /product tab content  -->
					</div>
				</div>
				<!-- /product tab -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->

	<!-- Section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<h3 class="title">Related Products</h3>
						<h3 class="title" th:unless="${items?.size() > 0}">현재 관련 상품이 없습니다.</h3>
					</div>
				</div>

				<!-- product -->
				<div class="col-md-3 col-xs-6" th:each="item : ${items}">
					<div class="product">
						<div class="product-img">
							<img style="width: 100%;" th:src="|/images/${item.getFileName()}|"/>
							<div class="product-label">
								<span class="sale" th:if="${item.getDiscount() != 1}"
									  th:text="|${#numbers.formatInteger(item.getDiscount() * 100, 2)}%|"></span>
							</div>
						</div>
						<div class="product-body">
							<p class="product-category" th:text="${item.getCategory()?.getName()}">Category</p>
							<h3 class="product-name"><a th:href="|/items/${item.getId()}|" th:text="${item.getName()}"></a></h3>
							<h4 class="product-price" style="display: inline;" th:text="|￦${#numbers.formatDecimal(item.price * (1-item.getDiscount()), 0, 'DEFAULT', 0, 'DEFAULT')}|"></h4>
							<h4 style="display: inline-block;"><del class="product-old-price" th:text="|￦${#numbers.formatDecimal(item.price, 0, 'DEFAULT', 0, 'DEFAULT')}|"></del></h4>
							<div class="product-rating">
								<i class="fa fa-star" th:if="${#numbers.formatInteger(item.getAvgRating(), 1) != '0'}"
								   th:each="num : ${#numbers.sequence(1, item.getAvgRating())}"></i>
								<i class="fa fa-star-o" th:if="${#numbers.formatInteger(item.getAvgRating(), 1) != '5'}"
								   th:each="num : ${#numbers.sequence(item.getAvgRating(), 4)}"></i>
							</div>
							<div class="product-btns">
								<button class="add-to-wishlist"
										th:onclick="|createWish(${item.id}, this)|"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
								<button class="add-to-compare"
										th:onclick="|alert('비교기능은 지원예정입니다.')|"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
								<button class="quick-view dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-eye"></i><span class="tooltipp">view option</span></button>
								<div class="product-dropdown product-options" th:value="${item.id}"></div>
							</div>
						</div>
						<div class="add-to-cart">
							<button class="add-to-cart-btn"
									th:onclick="|createCart(${item.id}, 1, this)|"><i class="fa fa-shopping-cart"></i> add to cart</button>
						</div>
					</div>
				</div>
				<!-- /product -->

<!--				<div class="clearfix visible-sm visible-xs"></div>-->

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /Section -->
	<script src="/js/review.js"></script>
</div>
</body>
</html>
